:root{
--main-background-color:#FFFFFF;
--footer-background-color:#2F303A;
--main-text-color:#212121;
--second-text-color:#757575;
--navigation-color:#2196F3;
--white-color:#FFFFFF;
--footer-text-color:rgba(255, 255, 255, 0.6);
--button-no-active-color:#F5F4FA;
}

h1,
h2,
h3,
p{
    margin-top: 0px;
    margin-bottom: 0px;
}

ul,
ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img{
    display: block;
}

.container{
    max-width: 1200px;
    margin-left:auto ;
    margin-right:auto ;
    padding-left: 15px ;
    padding-right: 15px ;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}


/*Главная страница + повторяющееся инфа*/
/*Значение для всего макета*/
body{
    background-color:var(--main-background-color);
    color: var(--second-text-color);
    font-family:Roboto,sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
/*Прячем не существующий заголовок*/
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.header-container{
    display:flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation{
    display: flex;
    align-items: center;
}

/*Значение для header and footer (логотип),активные ссылки и контакты)*/
.logo-head,
.logo-footer{
    color:var(--main-text-color);
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-head{
    margin-right: 93px;
}


.logo-head .firstpart,
.logo-footer .firstpart{
    color:var(--navigation-color);
}
.site-nav{
    display: flex;
}
.site-nav li:not(:last-child){
    margin-right: 50px;
}
.site-nav .link{
    color:var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--navigation-color)
}
.site-nav .link.current{
    color: var(--navigation-color)
}
.contacts-nav{
    display: flex;
    margin-left: auto;
}
.contacts-nav li:not(:last-child){
    margin-right: 50px;
}
.contacts-nav .contact{
    color: var(--second-text-color);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts-nav .contact:hover,
.contacts-nav .contact:focus{
    color: var(--navigation-color);
}


/*Убираем точки у всех списков*/
ul{
    list-style: none;
}
/*Стилизация кнопки и подложки*/
/*HERO*/
.hero{
    background-color: var(--footer-background-color);
    text-align: center;

}
.hero-container{
display: flex;
flex-direction: column;
align-items: center;
min-height: 600px;
justify-content: center;
}


.hero .hero-title{
    margin-bottom: 30px;
    width: 697px;
    margin-left: auto;
    margin-right: auto;
    
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .hero-button{
    border-radius: 4px;
    border-color: transparent;
    min-width: 136px;
    padding: 10px 32px;


    font-family: inherit;
    color: var(--white-color);
    background-color: var(--navigation-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display:inline-block;
    letter-spacing: 0.06em;
    text-decoration: none;
    cursor: pointer;
}
.about-list{
    display: flex;
    gap: 30px;
}

.about-container{
    display: flex;
}

/*Стилизация заголовков h1/h2/h3*/
.about .about-title{
    margin-bottom: 10px;

    color: var(--main-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.work .work-title,
.team .team-title{
    color: var(--main-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center; 
}
.work-imeges{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
.about .about-description{
    line-height: 1.71;
}
.team{
    margin-bottom: 94px;
}
.team-title{
    margin-top: 94px;
    margin-bottom: 50px;
}
.team .team-member{
    margin-bottom: 10px;

    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team .team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.team-description{
    padding: 30px 10px;
    background: var(--main-background-color);
    border: 1px;
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.location-nav{
    background-color: var(--footer-background-color);
    text-decoration: none;
}
.location-list .map{
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
}
.location-list .location-contact{
    color: var(--footer-text-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
}

.location-list .location-contact:hover,
.location-list .location-contact:focus{
    color: var(--navigation-color);
}


/*Портфолио*/
/*Cтилизация активных кнопок*/
.services{
    margin-bottom: 94px;
}
.service-list-container{
    margin-top: 94px;
    margin-bottom: 94px;
}

.service-list{
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button{
    border-color: transparent;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;

    font-family: inherit;
    color: var(--footer-background-color);
    background-color: var(--button-no-active-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}

.button:hover,
.button:focus{
    color: var(--white-color);
    background-color: var(--navigation-color);
}


.button.current{
    color: var(--white-color);
    background-color:var(--navigation-color);
}


.service-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px; ;
}

.project-title-list{
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
/*Cтилизация списка проектов*/
.service-projects .project-title{
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.service-projects .project-kind{
    margin-top: 4px;


    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    }
/*Стилизация логотипа в Футере*/
.location-nav .logo-footer{
    color:var(--white-color);
    text-decoration: none;
}

.location-nav-container{
    padding-top: 60px;
    padding-bottom: 60px ;
    justify-content: flex-start;
}
.location-list{
    margin-top: 20px;
}
.location-list li:not(:last-child){
    margin-bottom: 9px;
}
